@import "../../../static/css/var.scss";

.login{
    background-image: url("../../../static/image/bg.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    .loginHead{
        width: 6.25rem;
        margin: 0 auto;
        height: 3.75rem;
        margin-top: 3.125rem;
        position: relative;
        overflow: hidden;
        .head{
            width: 6.25rem;
        }
        .left, .right{
            width: 1.40625rem;
            position: absolute;
            bottom: -1.328125rem;
            height: 3.125rem;
        }
        .left{
            left: 1.484375rem;
        }
        .right{
            right: 1.484375rem;
        }
    }
    .loginFeed{
        width: 80%; 
        margin: 0 auto;
        label{
            display: flex;
            margin-top: .3125rem;
            span{
                width: 17%;
                background: $mainColor;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s;
                i{
                    font-size: $bigFont;
                    color: #fff;
                    transition: all .5s;
                }
            }
            .active{
                width: 15%;
                i{
                    font-size: $smallFont;
                }
            }
            input{
                border: $border;
                font-size: $bigFont;
                padding: .28125rem;
                color: #666;
                font-weight: bolder;
                width: 83%;
            }
            .num{
                width: 30%;
                margin-left: .15625rem;
                font-size: $bigFont;
                display: flex;
                background: #fff;
                align-items: center;
                justify-content: center;
            }
        }
        .code{
            input{
                width: 53%;
            }
        }
        .action{
            display: flex;
            justify-content: space-between; 
            line-height: 1.5625rem;
            margin-top: .15625rem;
            font-size: $generalFont;
            padding: 0 .3125rem;
            span:hover{
                color: $mainColor;
            }
            button{
                width: 1.25rem;
                line-height: .9375rem;
                border-radius: .15625rem;
                color: #fff;
                background: $mainColor;
                margin-left: .15625rem;
            }
            
        }
    }
}


/* 登录动画 */
.fade-enter-active{animation: fade-in .5s;}
.fade-leave-active{animation: fade-out .5s;}
@keyframes fade-in{
    from{
      opacity: 0;
      height: 0;
    }
    to{
      opacity: 1;
      height: 3.125rem;
    }
}
@keyframes fade-out{
    from{
      opacity: 1;
      height: 3.125rem;
    }
    to{
      opacity: 0;
      height: 0;
    }
}