@import "../../../static/css/var.scss";

.classify{
    width: 100%;
    height: 100%;
    display: flex;
    .classifyNav{
        font-size: $generalFont;
        width: 3.125rem;
        height: 100%;
        margin-right: .15625rem;
        overflow-y: scroll;
        background: #f8f8f8;
        li{
            line-height: 1.171875rem;
            text-align: center;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .active{
            border-bottom: .046875rem solid $mainColor;
            color: $mainColor;
            background: #fff;
        }
    }
    .classifyContent{
        height: 100%;
        width: 100%; 
        overflow-y: scroll;
    }
}