
@import "../../../static/css/var.scss";
.footer{
    border-top: .015625rem solid #ccc;
    display: flex;
    height: 1.25rem;
    justify-content: space-around;
    font-size: .375rem;
    li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: .0625rem;
        i{
            font-size: .46875rem;
        }
    }
    .active{
        color: $mainColor;
    }
}